.relative {
  position: relative;
}

.tit {
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.programa {
  line-height: 1;
  color: white;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: italic;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease;
}

.hover-container {
  position: relative;
}

.hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  text-align: center;
  transition: transform 0.3s ease;
}

.hover-container:hover .overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

.hover-container:hover .hover-text {
  display: block;
  transform: scale(1.2) translate(-50%, -50%);
}

.hover-container:hover .overlay-text {
  transform: scale(1.05) translate(-47%, -47%);
}
