.tituloServicio{
    letter-spacing: -2px;
    color: #000;
    font-weight: 400;
    font-style: italic;
    font-family: "Playfair Display";
}
  
  
  .servicio-imagen {
    box-shadow: -23px 25px 0px 5px #007BC7;
  }
  
  
  
  .textoServicio{
    color: #007BC7;
  }
  