/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/Comentarios/comentarios.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
#comentarios {
    scroll-margin-top: 70px; /* Ajusta este valor a la altura de tu navbar */
  }

.card{
    min-height: 220px;
}
  
  /* Agregar esta parte para asegurarse de que se comporte adecuadamente en todos los tamaños de pantalla */
@media (min-width: 768px) {
    #comentarios {
      scroll-margin-top: 60px; /* Ajusta este valor a la altura de tu navbar en pantallas más grandes */
    }
}

@media (max-width: 400px) {
  .card{
    min-height: 412px;
  }
}
/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/Inicio/inicio.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
#inicio {
    scroll-margin-top: 100px; /* Ajusta este valor a la altura de tu navbar */
  }
  
  /* Agregar esta parte para asegurarse de que se comporte adecuadamente en todos los tamaños de pantalla */
  @media (min-width: 768px) {
    #inicio {
      scroll-margin-top: 165px; /* Ajusta este valor a la altura de tu navbar en pantallas más grandes */
    }
  }
/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/Mare/mare.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.relative {
  position: relative;
}

.tit {
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.programa {
  line-height: 1;
  color: white;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: italic;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease;
}

.hover-container {
  position: relative;
}

.hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  text-align: center;
  transition: transform 0.3s ease;
}

.hover-container:hover .overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

.hover-container:hover .hover-text {
  display: block;
  transform: scale(1.2) translate(-50%, -50%);
}

.hover-container:hover .overlay-text {
  transform: scale(1.05) translate(-47%, -47%);
}

/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/Servicios/servicios.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.titl{
    font-size: 20px;
    letter-spacing: 3px;
    color: #605f4b;
    font-weight: 400;
    text-align: center;
}

.subTitle{
    line-height: 80px;
    color: #9c9e80;
    font-weight: 400;
    font-style: italic;
    font-family: "Playfair Display";
    text-align: center;
    }

    #servicios {
        scroll-margin-top: 100px; /* Ajusta este valor a la altura de tu navbar */
      }
      
      /* Agregar esta parte para asegurarse de que se comporte adecuadamente en todos los tamaños de pantalla */
      @media (min-width: 768px) {
        #servicios {
          scroll-margin-top: 170px; /* Ajusta este valor a la altura de tu navbar en pantallas más grandes */
        }
      }
      
